<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title %}{{ APP_NAME }} Welcome!{% endblock %}</title>
        <link href="/static/css/reset2.css" rel="stylesheet" />
        <link href="/static/css/main.css" rel="stylesheet" />
    </head>
    
    <body class="container_24">
        <div class='grid_12 footer'>
            {% block footer %}
                <a href="/" title='home'>home</a> | <a href="/help" title='help'>help</a> | <a href="/about" title='about'>about</a> 
            {% endblock %}
        </div>
        
        <div class='grid_12 header'>
            {% if user %}
                hola! <a href="#">{{ user.nickname }}</a> | <a href="{{ logouturl }}">logout</a>{% if isadmin %} | <a href="#">omg! admin</a>{% endif %}
            {% else %}
                get started, <a href="{{ loginurl }}">login</a>
            {% endif %}
        </div>
        
        {% block header %}
        {% endblock %}
        
        <div id='body' class='body'>
            {% block body%}{% endblock %}
        </div>
    </body>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <!-- google analytics tracking code -->
</html>
