{% extends "basic.html" %}

{% block head_title %}{{ APP_NAME }} subscribe{% endblock %}

{% block body%}
	<h3>thankyou for subscribing! :)</h3>
        <p>we have sent you an email with activation link; and an invitation to the chat-bot!</p>
        <p>please activate your account to start recieving notifications from github commits.</p><br/>
	<p> for <b>CHAT-BOT NOTIFICATIONS</b> add this url to your github project's webhook listeners : <br/>
            <span class="webhook-url">http://github-bot.appspot.com/notice/xmpp/{{ user_address }}<span> 
        </p>
        <p>OR</p>
	<p> for <b>EMAIL NOTIFICATIONS</b> add this url to your github project's webhook listeners : <br/>
            <span class="webhook-url">http://github-bot.appspot.com/notice/email/{{ user_address }}<span> 
        </p>
{% endblock %}
